.resume-section{
  padding: 50px 160px;
}

.resume h1 {
  font-size: 32px;
  font-weight: 700;
  color: #111;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.resume .liniya {
  display: block;
  width: 90px;
  height: 3px;
  background-color: #007dff;
  margin-bottom: 25px;
}

.resume p {
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 95%;
}

.resume-container{
  display: flex;
}

.resume-item{
  max-width:700px;
  padding: 30px;
}

.resume-item h3{
      font-family: Raleway, sans-serif;
      font-size: 26px;

    
}

.resume-items h4{
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color:rgb(39, 40, 41);
  line-height: 2.8;
}
.resume-items p{
  line-height: 1.8;
  font-size: 16px;
}

.resume-items ul{
  line-height: 1.7;
  font-size: 16px;
  
}

.resume-items h6{
  font-family: Raleway, sans-serif;
  font-size: 13px;
}

.resume-items{
  position: relative; 
}
.resume-items::before{
  content: "";
  position: absolute;
  width: 2px; 
  height:100%;
  background: #149DDD;
  margin-top: 20px;
  margin-left: -40px;
}



